[paths]
source =
   src/flashcards
   */site-packages/flashcards

[run]
branch = true
source =
    flashcards
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
